body {
    font-family: Arial, sans-serif;
    text-align: center;
    width: 600px;
    min-height: 560px;
    height: auto;
    background-color: azure;
    border: 5px solid slateblue;
    overflow-x: hidden !important;
    margin: 0px;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: left;
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.482);
    padding-bottom: 0px;
    margin-left: -1px;
  }
  
  button {
    padding: 6px 12px;
    margin-top: 0px;
    cursor: pointer;
    font-size: 12px;
  }

  button.nav {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;    
    border: 1px;
  }

  button :hover {
    text-decoration: underline;
  }
  
  .message {
    margin-top: 10px;
    color: black;
    text-align: left;
  }
  

  .container {
    display: block;
    padding: 20px;
  }
  
  .body_container {
    min-height: 400px;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: center;
    background-color: white;
    padding: 20px;
    padding-top: 10px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;

  }
  .summary {
    display: none;
    width: 100%;
  }

  .summary_table {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: left;
    margin-top: 0px;
    width: 100%;
  }

  .summary_left {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: left;
    width: 25%;
  }

  .summary_right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 75%;
  }

  .elements {
    display: block;
    width: 100%;
  }

  .analytics {
    display: none;
    width: 100%;  
  }

  .data {
    display: none;
    width: 100%;
  }


  .header_table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    margin-top: 60px;

  }


  .heading, .value {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;

  }

  p.heading {
    width: 20%;
  }

  #h1_value {
    color: green
  }

  #h2_value {
    color: rgb(206, 206, 0);
  }

  #h3_value {
    color: red;
  }

  #h4_value {
    color: orange;
  }

  #h5_value {
    color: blue;
  }

  #h6_value {
    color: purple;
  }

  #images {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 10px;
  }







.toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    width: 100%;
  }



  .switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 16px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 16px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }